<h1><%= page_title %></h1>
<div class="row-fluid">
  <div class="span6">
    <p>There are lots of things to take into account when looking for a care for an elderly person.</p>
    <p>To find out more about care providers in your local area, search for your postcode using the form on the right.</p>
  </div>
  <div class="span6">
    <%= render search %>
  </div>
</div>
